.basic_header, .dark_header {
    color: #727AC3;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
}

.pink_header {
    color: #727AC3;
    font-size: 1.5em;
    line-height: 2em;
}

.dark_header {
    color: #5C5793;
}

.dark_name {
    color: #5C5793;
    font-size: 1em;
    font-weight: bold;
}

.black_big_header {
    color: black;
    font-size: 1.5em;
    line-height: 2em;
}

.black_header {
    color: black;
    font-size: 1.2em;
}

.desc_name {
    color: #6E86DB;
    font-size: 1em;
}

.other_info_name {
    color: #6E86DB;
    font-size: 0.8em;
}

.login_name {
    color: #919191;
}

.post_header {
    font-size: 1.2em;
}

.user_page_name {
    color: #606BCB;
    user-select: none;
}

.link_name {
    color: #32A4E5;
}