.basic_header {
    color: #727AC3;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
}

.black_big_header {
    color: black;
    font-size: 1.5em;
    line-height: 2em;
}

.black_header {
    color: black;
    font-size: 1.2em;
}

.desc_name {
    color: #6E86DB;
    font-size: 1em;
}

.other_info_name {
    color: #6E86DB;
    font-size: 0.8em;
}

.login_name {
    color: gray;
}