.go_back_line {
    width: 100%;
    padding: 0.5em;
    padding-left: 1em;
    background-color: #84B5FF;

    .go_back_img {
        width: 2em;
        padding: 0;

        svg {
            width: 100%;
        }
    }
}