.password {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;

    .passw_input {
        width: 100%;
        input {
            font-size: 1em;
            width: 100%;
            border: none;
        }

        input:focus {
            outline: none;
        }
    }

    .passw_img img {
        height: 1em;
    }
}