.login {
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;

    @media screen and (min-width: 950px) {
        width: 66%;
        margin-left: 16%;
        max-height: 70vh;
        display: flex;
        justify-content: center;
        flex: 1;
        top: 50%;
        transform: translate(0, -50%);

        .card {
            width: 40%;
            max-width: 400px;
        }

        .login_form {
            margin-left: 20%;
        }
    }
    
    @media screen and (max-width: 950px) {
        width: 300px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 5vh;
        flex-wrap: wrap;
        display: flex;
        align-content: space-between;

        .card {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    .card {
        position: relative;

        img {
            width: 106%;
            margin-left: -3%;
            height: 100%;
        }
    }

    .login_form {
        background-color: white;
        box-shadow: 6px 6px 20px rgba(110, 134, 219, 0.42);
        border-radius: 1em;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        position: relative;
        align-content: space-between;
        padding-top: 1.3em;
        padding-bottom: 1.3em;

        .form_header {
            width: 100%;
            height: 10%;
        }

        .form_inputs, .form_links {
            margin: 0 auto;
            width: 80%;
        }

        .form_inputs {
            .log {
                margin-bottom: 0.5em;
            }

            input {
                margin-bottom: 1.3em;
            }
        }

        .form_links div {
            margin-bottom: 0.5em;
        }

        .form_links {
            margin-bottom: 1em;
        }
    }
}